body,
html {
  margin: 0;
  padding: 0;
}

.main-content {
  margin-left: 258px;
  transition: margin-left 0.2s ease-in-out;
  overflow-y: hidden;
  padding: 20px;
  margin-top: 4rem;
}

@media (max-width: 1024px) {
  .page-content {
    margin-left: 0;
  }
}

@media (max-width: 1024px) {
  .main-content {
    margin-left: 0;
  }
}
